@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CI-CD Training</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and Python Flask Application and Microsoft Azure</a>.</p>
    <p>Learn new things everyday with the group. Learn working in a team.</p>
    <h1>By Deepanshu Pasrija</h1>
</div>
